body {
	font-family: Futura, sans-serif;
}

h1 {
	text-align: center;
	font-size: 2em;
}

#map {
/* 	background-color: rgb(19, 19, 74); */
}

.subunit {
	fill: lightgreen;
}

.subunit-label {
	color: green;
}