<!DOCTYPE html>
<meta charset='utf-8'>
<link href='http://localhost:3000/css/main.css' rel='stylesheet' type='text/css'>
<script src="https://d3js.org/d3.v4.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js'></script>
<link href='https://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
<script src='//d3js.org/topojson.v1.min.js'></script>
<script src='http://localhost:3000/js/jsonp.js'></script>

<head>
	<title>Climate Map</title>
</head>

<body>
	<header>
		<h1>Climate Map</h1>
	</header>
	<div id='map'>
	</div>
	<input id='year-selector' type='range' value='0' min='0' max='3' step='1'></input>
	<p id='selector-label'>2020 -- 2039</p>
<!-- 	<div id='selectors'></div> -->
	<script src='http://localhost:3000/js/main.js'></script>
</body>


