body {
	font-family: 'Noto Serif', serif;
/*	background-color: darkblue;*/
}
/*header*/
header {
	border-bottom: 2px solid blue;
	background-color: rgb(4, 16, 15);
	color: white;
}

h2 {
	text-transform: uppercase;
	font-style: bold;
	margin-left: 20px;
}

h2, #year-selector, #selector-label {
	display: inline-block;
}

#year-selector {
	width: 20%;
	margin: 0px 3% 0px 20%;
	outline: none;
	cursor: pointer;
}

#year-selector:hover {
	border-color: blue;
}

#selector-label {

}

/*sidebar*/
#sidebar {
	display: block;
	position: absolute;
	height: 110%;
	width: 60px;
	z-index: 999;
	background-color: rgba(206, 206, 239, 0.85);
	border-right: 2px solid rgb(206, 206, 239);
	padding: 0px 10px;
	transition-duration:0.05s;
}

#sidebar.show-data { 
	width:20%;
	padding:20px 30px;
	transition-duration:0.05s;
}

#sidebar.show-facts {
	width:20%;
	padding:20px 30px;
	transition-duration:0.05s; 
}

#sidebar p, li {
	text-align: left;
	color: rgb(77, 72, 80);
}

#sidebar h5 {
	color: white;
	font-size: 1.5em;
	padding: 1px 0px;
	border: 3px solid white;
	border-radius: 4%;
	text-align: center;
}

#sidebar h5:hover {
	cursor: pointer;
	border: 2px solid blue;
	color: blue;
}

#close-button {
	float: right;
	font-size: 1.3em;
	position: relative;
	bottom: 40px;
	left: 20px;
	cursor: pointer;
	font-family: Arial, serif;
}


/*map*/
p {
	text-align: center;
	font-size: 0.9em;
}

#map {
	margin-top: 50px;

/* 	background-color: rgb(19, 19, 74); */
/*	background-color: lightblue;*/
}

#background-text {
	font-size: 2em;
	color: lightblue;
	line-height: 130%;
	float: left;
}

svg:hover {
	cursor: pointer;
}

#background-circle {
	fill: rgba(95, 160, 157, 0.85);
	stroke: aliceblue;
	stroke-width: 4;
}

path {
	stroke: gray;
	stroke-width: 0.3;
}

.subunit {
	fill: white;
}

.subunit-label {
	color: green;
}

/*modal*/

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .9 ) 
                url('https://climate-vis.herokuapp.com/img/load_icon.gif') 
                50% 60% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}
