body {
	font-family: 'Noto Serif', serif;
}

header {
	padding: 20px;
	text-align: center;
}

h1 {
	font-size: 2.5em;
}

#map {
/* 	background-color: rgb(19, 19, 74); */
/*	background-color: lightblue;*/
}

path {
	stroke: gray;
	stroke-width: 0.3;
}

.subunit {
	fill: white;
}

.subunit-label {
	color: green;
}

/*range-slider*/
#year-selector {
	width: 30%;
	margin: 0px auto;
	outline: none;
}